.main-grid {
     display: grid;
     grid-template-columns: repeat(12, 1fr);
     grid-template-rows: auto;
     margin: 0 100px;
     grid-template-areas:
          "nb nb nb nb nb nb nb nb nb nb nb nb"
          ". img img img img img img img img img img ."
          ". apre apre apre apre apre apre apre apre apre apre ."
          ". lazy lazy lazy lazy lazy lazy lazy lazy lazy lazy ."
          ". ajud ajud ajud ajud ajud ajud ajud ajud ajud ajud ."
          ". obj obj obj obj obj obj obj obj obj obj ."
          "ft ft ft ft ft ft ft ft ft ft ft ft";
     place-items: center;
}

#navbar {
     grid-area: nb;
}

.imagem {
     grid-area: img;
}

.apresentacao {
     grid-area: apre;
}

.sorry-for-preguica {
     grid-area: lazy;
}

.ajudar {
     grid-area: ajud;
}

.ajudar {
     grid-area: ajud;
}

.objetivo {
     grid-area: obj;
}