:root {
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 40px;
    --spacing-lg: 80px;
    --spacing-xl: 100px;
    --border-radius-md: 8px;
    --border-radius-sm: 4px;
    --container-width: 1200px;
}

body {
    background-color: #EDE6D3;
    justify-content: center;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xl);
    margin-top: var(--spacing-sm);
}

nav.nav-options {
    display: flex;
    gap: var(--spacing-sm);
}