:root {
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 40px;
    --spacing-lg: 80px;
    --spacing-xl: 100px;
    --border-radius-md: 8px;
    --border-radius-sm: 4px;
}

body {
    background-color: #EDE6D3;
}

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: var(--spacing-sm);
}

nav.nav-options {
    display: flex;
    gap: var(--spacing-sm);
}

.nav-hamburger {
    display: none;
}

@media (max-width: 768px) {
    nav.nav-options {
        display: none;
    }
    
    .nav-hamburger {
        display: inline-block;
    }
}