@font-face { font-family: MolotGTRR; src: url('assets/fonts/Molot_GTRR.otf'); } 
@font-face { font-family: OpenDyslexic; src: url('assets/fonts/OpenDyslexicAlta-Regular.otf');}

/* variáveis */
:root {
    font-family: OpenDyslexic;
    --bg: #EDE6D3;
    --black: #131313;
    --red: #FF1800;
    --orange: #F96049;
    --blush: #FF18006B;
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 30px;
    --border-radius-md: 8px;
    --border-radius-sm: 4px;

    --fontsize-h1: 2.2rem;
    --fontsize-h2: 1.2rem;
    --fontfamily: MolotGTRR;
}

body {
    background-color: var(--bg);
    width: 100%;
}