.imagem img {
    width: 100%;
    height: auto;
}

.apresentacao p {
    line-height: 1.5rem;
    text-align: center;
    font-size: var(--font-size-sm);
}

.apresentacao span {
    background-color: var(--orange);
}

.call-to-action div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--spacing-md);
}
.call-to-action div::after  {
    display: block;
    content: '';
    background-color: var(--black);
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: -1;
}

.call-to-action a.link-button{
    font-family: MolotGTRR;
    font-size: var(--font-size-md);
    color: var(--white);
    border: 3px solid var(--white);
    border-radius: var(--border-radius-lg);
    padding: 15px 40px;

    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 1.68px;
}

.call-to-action a.link-arrow{
    margin-right: var(--spacing-md);
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-sm);
    color: var(--white);
    font-size: var(--font-size-md);
}

.ajudar h1 {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-sm);
    word-wrap: none;
}

.ajudar p {
    line-height: 1.5rem;
    text-align: left;
}

.button-link {
	border: 3px solid var(--black);
	letter-spacing: 0.02em;
	font-family: var(--fontfamily);
	font-size: var(--font-size-md);
	border-radius: 12px;
	padding: 15px 39px;
}

.objetivo h1 {
    text-align: right;
}
.objetivo h1::before {
    display: block;
    content: '';
    border-bottom: 3px solid var(--black);
    position: relative;
    top: 1.5em;
    left: -50%;
    width: 150%;
    z-index: -1;
}

.objetivo p {
    text-align: right;
    line-height: 150%;
}

.objetivo .outside-links{
    text-align: right;
}