.show-text {
     margin: 24px 0;
}

.toggle-content {
     background-color: var(--black);
     padding: 18px 25px;
     border-radius: 5px;
     color: white;
     font-size: 20px;
     cursor: pointer;

     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-flow: row nowrap;
}

.toggle-content span {
     font-size: 26px;
     font-weight: 800;
}

.show {
     display: none;
     line-height: 150%;
     font-weight: 400;
     padding: 16px 0;
}

.orange {
     background-color: var(--orange);
     font-size: 82px;
}