<header id="navbar">
     <a href="index.html"><img class="header-logo" src="assets/img/GTRR-Logo.svg" alt="GTRR"></a>
     <nav class="nav-options">
          <a class="nav-item" href="index.html">INÍCIO</a>
          <a class="nav-item" href="primeiros-passos.html">PRIMEIROS PASSOS</a>
          <div class="sub-nav">
               <button class="sub-nav-btn">SOBRE <img src="assets/img/carat-down.svg" alt="(+)"></button>
               <div class="sub-nav-content">
                    <a class="sub-nav-item" href="estatuto.html">ESTATUTO</a>
                    <a class="sub-nav-item" href="manifesto.html">MANIFESTO</a>
               </div>
          </div>
          <a class="nav-item" href="faq.html">FAQ</a>
          <div class="sub-nav">
               <button class="sub-nav-btn">PROJETOS <img src="assets/img/carat-down.svg" alt="(+)"></button>
               <div class="sub-nav-content">
                    <a class="sub-nav-item" href="em-andamento.html">EM ANDAMENTO</a>
                    <a class="sub-nav-item" href="finalizados.html">FINALIZADOS</a>
                    <a class="sub-nav-item" href="sugestao.html">SUGIRA UM PROJETO</a>
               </div>
          </div>
          <a class="nav-item" href="cadastro.html">CADASTRO</a>
     </nav>
</header>
<div class="hamburger-menu">
     <!-- checkbox para usar a pseudoclasse :checked no css -->
     <input class="checkbox" type="checkbox" name="" id="" /> 
     <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
     </div>  

     <div class="hamburger-options">
          <ul>
               <h3>ESSENCIAIS</h3>
               <li><a href="">INÍCIO</a></li>
               <li><a href="">PRIMEIROS PASSOS</a></li>
               <li><a href="">ESTATUTO</a></li>
               <li><a href="">MANIFESTO</a></li>
               <li><a href="">PERGUNTAS FREQUENTES</a></li>
               <h3>FORMULÁRIOS</h3>
               <li><a href="">SUGESTÃO DE PROJETO</a></li>
               <li><a href="">CADASTRO</a></li>
               <h3>PROJETOS</h3>
               <li><a href="">PROJETOS EM ANDAMENTO</a></li>
               <li><a href="">PROJETOS FINALIZADOS</a></li>
          </ul>
     </div>
</div>


<script>
     // adicionar classe active
     const pathe = window.location.pathname;
     let pagex = pathe.split("/").pop();
     pagex = pagex === "" ? "index.html" : pagex; //caso path vazio assume-se index.html
     const activesx = document.querySelectorAll(`a[href="${pagex}"]`)
     activesx.forEach(element => {
          element.classList.add("active");
     });
</script>