.title h1 {
     font-size: 81px;
}

.show-text {
     margin: 46px 0;
}

.show-text h3 {
     font-family: MolotGTRR;
     text-transform: uppercase;
     color: var(--bg);
}

.toggle-content {
     background-color: var(--black);
     padding: 18px 25px;
     border-radius: 5px;
     color: white;
     font-size: 20px;
     cursor: pointer;

     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-flow: row nowrap;
}

.toggle-content span {
     font-size: 26px;
     font-weight: 800;
}

.show {
     display: none;
     line-height: 150%;
     font-weight: 400;
     padding: 16px 0;
}

.call-to-action .cta-left::before {
     height: 75px;
}

.main-grid {
     max-width: 1440px;
     display: grid;
     grid-template-columns: repeat(12, 1fr);
     grid-template-rows: auto;
     margin: 0 auto;
     padding: 0 100px;
     grid-template-areas:
          "nb nb nb nb nb nb nb nb nb nb nb nb"
          "tt tt tt tt tt tt tt tt tt tt tt tt"
          ". . fq fq fq fq fq fq fq fq . ."
          "ca ca ca ca ca ca ca ca ca ca . ."
          "ft ft ft ft ft ft ft ft ft ft ft ft";
     place-items: center;
     row-gap: 3rem;
}

header-component {
     grid-area: nb;
     width: 100%;
}

.faq {
     grid-area: fq;
     width: 100%;
}
.title {
     grid-area: tt;
     width: 100%;
}

.call-to-action {
     grid-area: ca;
     width: 100%;
     text-align: right;
}

footer-component {
     grid-area: ft;
     width: 100%;
}