.main-grid {
     max-width: 1440px;
     display: grid;
     grid-template-columns: repeat(12, 1fr);
     grid-template-rows: auto;
     margin: 0 auto;
     padding: 0 100px;
     grid-template-areas:
          "nb nb nb nb nb nb nb nb nb nb nb nb"
          ". . img img img img img img img img . ."
          ". . . apre apre apre apre apre apre . . ."
          "cta cta cta cta cta cta cta cta cta . . ."
          ". . . ajud ajud ajud ajud ajud ajud ajud . ."
          ". obj obj obj obj obj obj obj . . . ."
          "ft ft ft ft ft ft ft ft ft ft ft ft";
     place-items: center;
     row-gap: 3rem;
}

header-component {
     grid-area: nb;
     width: 100%;
}

.imagem {
     grid-area: img;
}

.apresentacao {
     grid-area: apre;
}

.call-to-action {
     grid-area: cta;
     width: 100%;
}

.ajudar {
     grid-area: ajud;
}

.ajudar {
     grid-area: ajud;
}

.objetivo {
     grid-area: obj;
}

footer-component {
     grid-area: ft;
     width: 100%;
}