.imagem img {
     width: 100%;
     min-width: 480px;
     height: auto;
 }
 
.apresentacao p {
    text-align: center;
}

.ajudar{
    margin-top: var(--spacing-md);    
}

.objetivo p {
    text-align: right;
}

.objetivo .outside-links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--spacing-md);
    margin-top: var(--spacing-md);
}
 

.main-grid {
     max-width: 1440px;
     display: grid;
     grid-template-columns: repeat(12, 1fr);
     grid-template-rows: auto;
     margin: 0 auto;
     padding: 0 100px;
     grid-template-areas:
          "hd hd hd hd hd hd hd hd hd hd hd hd"
          ". . im im im im im im im im . ."
          ". . . ap ap ap ap ap ap . . ."
          "ca ca ca ca ca ca ca ca ca . . ."
          ". . . aj aj aj aj aj aj . . ."
          ". ob ob ob ob ob ob ob . . . ."
          "ft ft ft ft ft ft ft ft ft ft ft ft";
     place-items: center;
     row-gap: 3rem;
}

header-component {
     grid-area: hd;
     width: 100%;
}

.imagem {
     grid-area: im;
}

.apresentacao {
     grid-area: ap;
}

.call-to-action {
     grid-area: ca;
     width: 100%;
}

.ajudar {
     grid-area: aj;
}

.objetivo {
     grid-area: ob;
}

footer-component {
     grid-area: ft;
     width: 100%;
}

@media (max-width: 768px) {
     .main-grid {
          grid-template-areas:
          "hd hd hd hd hd hd hd hd hd hd hd hd"
          ". im im im im im im im im im im ."
          "ap ap ap ap ap ap ap ap ap ap ap ap"
          "ca ca ca ca ca ca ca ca ca ca ca ca"
          "aj aj aj aj aj aj aj aj aj aj aj aj"
          "ob ob ob ob ob ob ob ob ob ob ob ."
          "ft ft ft ft ft ft ft ft ft ft ft ft";
     }
 }