@font-face { font-family: MolotGTRR; src: url('../assets/fonts/Molot_GTRR.otf'); } 
@font-face { font-family: OpenDyslexic; src: url('../assets/fonts/OpenDyslexicAlta-Regular.otf');}

/* variáveis */
:root {
    font-family: OpenDyslexic;
    font-size: 18px;
    --bg: #EDE6D3;
    --black: #131313;
    --white: #F3EFE4;
    --red: #FF1800;
    --orange: #F96049;
    --blush: #FF18006B;
    --font-size-sm: 18px;
    --font-size-md: 21px;
    --font-size-lg: 41px;
    --letter-spacing: 2%;
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 30px;
    --spacing-xl: 100px;
    --border-radius-lg: 16px;
    --border-radius-md: 8px;
    --border-radius-sm: 4px;

    --fontfamily: MolotGTRR;
}

body {
    background-color: var(--bg);
    width: 100%;
}

h1 {
	text-align: center;
	line-height: 1.5em;
	letter-spacing: 0.02em;
	font-size: var(--font-size-lg);
	font-family: var(--fontfamily);
    white-space: nowrap;
}

h2 {
	text-align: center;
	line-height: 1.5em;
	letter-spacing: 0.02em;
	font-size: var(--font-size-md);
	font-family: var(--fontfamily);
    white-space: nowrap;
}

p{
    font-size: 16px;
    line-height: 150%;
    margin-bottom: var(--spacing-md);
}


span.highlight{
    background-color: var(--orange) ;
}

.block-title {
    font-size: 41px;
    display: inline;
    background-color: var(--black);
    color: var(--bg);
    line-height: 150%;  
    text-align: center;
    letter-spacing: 0.02em;
    padding: var(--spacing-sm);
    padding-bottom: var(--spacing-xs);
}

.button-link {
    white-space: nowrap;
	border: 3px solid var(--black);
	letter-spacing: 0.02em;
	font-family: var(--fontfamily);
	font-size: var(--font-size-md);
	border-radius: 12px;
	padding: 15px 39px 15px 42px;
}


.right-line-title {
    text-align: left;
}
.right-line-title::before {
    display: block;
    content: '';
    border-bottom: 3px solid var(--black);
    position: relative;
    top: 1.5em;
    width: 200%;
    z-index: -1;
}

.left-line-title {
    text-align: right;
}
.left-line-title::before {
    display: block;
    content: '';
    border-bottom: 3px solid var(--black);
    position: relative;
    top: 1.5em;
    left: -50%;
    width: 150%;
    z-index: -1;
}

.cta-left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--spacing-md);
    margin: 50px 0px;
}
.cta-left::before  {
    display: block;
    content: '';
    background-color: var(--black);
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: -1;
}

.cta-right {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--spacing-md);
    margin: 50px 0px;
}
.cta-right::before  {
    display: block;
    content: '';
    background-color: var(--black);
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: -1;
}

a.link-button{
    font-family: MolotGTRR;
    font-size: var(--font-size-md);
    color: var(--white);
    border: 3px solid var(--white);
    border-radius: var(--border-radius-lg);
    padding: 15px 40px;
    margin: 0px var(--spacing-md);
    white-space: nowrap;

    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 1.68px;
}

a.link-arrow{
    margin-right: var(--spacing-md);
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-sm);
    color: var(--white);
    font-size: var(--font-size-md);

    margin: 0px var(--spacing-md);
    white-space: nowrap;
}
a.link-arrow::after{
    content: url("../../assets/img/Arrow\ 1.svg");
}

/* info-list */
div.info-list h2{
    vertical-align: middle;
    font-size: 31px;
    display: inline;
    background-color: var(--black);
    color: var(--bg);
    padding: var(--spacing-sm);

    position: relative;
    top: 0.8rem;
    left: 1em;
}
/* lista principal */
div.info-list>ul{
    font-size: 16px;
    background-color: var(--orange);
    padding: 13px 35px;
    border-radius: 5px;
    list-style-position: inside;
    line-height: 1.5em;
}
div.info-list>ul>li::before {
    content: url('../../assets/img/arrow-right-normal.svg');
    position: relative;
    top: 0.3em;
}
/* sub-listas */
div.info-list li>ul{ 
    font-size: 16px;
    padding: 0px 35px;
    list-style-position: inside;
    line-height: 1.5em;
}
div.info-list li>ul>li::before {
    content: url('../../assets/img/navbar-active-dot.svg');
    position: relative;
    bottom: 0.2em;
    margin: 0 var(--spacing-sm);
}
/* /info-list */

#navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: var(--spacing-md) auto;
}

.nav-options {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
}

.nav-item {
    display: inline-block;
    color: var(--black);
    text-align: center;
}

.nav-item.active, .hamburger-item.active {
    color: var(--red);
}
.nav-item.active::before {
    position: relative;
    content: url("../assets/img/navbar-active-dot.svg");
    color: var(--black) !important;
    top: 1em;
    left: 50%;
}

.sub-nav-btn {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
}

/* hover stuff */

.sub-nav-content {
    display: none;
    color: var(--black);
    position: absolute;
    padding: var(--spacing-sm);
    margin-top: var(--spacing-xs);
    border-left: 2px solid var(--black);
}
.sub-nav:hover .sub-nav-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.nav-item:hover, .sub-nav-item:hover {
    color: var(--red);
}

.sub-nav:hover {
    color: var(--red);
}

/* hamburger stuff */

.hamburger-menu {
    position: absolute;
    top: var(--spacing-md);
    right: 10%;
    display: none;
}

.hamburger-options {
    display: none;
}

.sub-hamburger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sub-hamburger-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--spacing-sm);
    margin: var(--spacing-sm);
    padding: var(--spacing-sm);
    border-right: 2px solid var(--black);
}

/* hamburger hover stuff */

.hamburger-menu:hover .hamburger-options {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--spacing-sm);
    padding: var(--spacing-sm);
    margin: var(--spacing-sm);
    border-right: 2px solid var(--black);
}

.hamburger-item::before, .sub-hamburger-item::before {
    visibility: hidden;
    display: block;
    content: '';
    border-bottom: 2px solid var(--black);
    position: relative;
    top: 1.5rem;
    left: 50%; /* para cobrir apenas a metade da direita */
    width: 50%;
    z-index: -1;
}
.hamburger-item:hover::before, .sub-hamburger-item:hover::before {
    visibility: visible;
}

.footer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 186px);
    gap: var(--spacing-md);
    justify-content: space-between;
    margin-bottom: var(--spacing-md);
}

.footer .promos {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}
.footer .promos .socials {
    display: flex;
    justify-content: space-between;
}

.footer .list {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-sm);
}

.footer .list a:hover {
    color: var(--red);
}

@media (max-width: 768px) {
    .nav-options {
        display: none;
    }
    
    .hamburger-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        overflow-y: visible;
    }
}